<app-header></app-header>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h1>Register Form</h1>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3 mt-3">
                            <label>*FirstName:</label>
                            <input type="text" class="form-control" id="fname" placeholder="Enter First Name">
                            
                        </div>
                        <div class="mb-3">
                            <label><span class="text-danger">*</span>LastName:</label>
                            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name">
                        </div>
                        <div class="mb-3">
                            <label>*Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                        <div class="mb-3">
                            <label>*Phone:</label>
                            <input type="number" class="form-control" id="phone" placeholder="Enter Phone">
                        </div>
                        <div class="mb-3">
                            <label>*Password:</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password">
                        </div>
                        <div class="mb-3">
                            <label>*CPassword:</label>
                            <input type="password" class="form-control" id="cpassword" placeholder="Enter password">
                        </div>
                        <button type="submit" class="btn btn-primary" id="btn">Submit</button>
                        <p id="err" class="fw-bold"></p>
                    </form>
                    <p>If You Have an account <a href="./login.html">Login Here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>




