<footer class="footer-main bg-secondary ">
    <div class="container">
      <div class="row address-main">
        <div class="col-lg-4 col-sm-12 col-xs-12">
          <div class="address-box clearfix">
            <div class="add-icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="add-content">
              <h5>Address</h5>
              <p class="text-white"> Madhavaram village<br>Annamayya Dist<br>AP
                 </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12">
          <div class="address-box clearfix">
            <div class="add-icon">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="add-content">
              <h5>Phone</h5>
              <p class="text-white">  +(91)6304223954 <br />
              +(91) 123456789  </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12">
          <div class="address-box clearfix">
            <div class="add-icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="add-content">
              <h5>Email</h5>
              <p> <a href="mailto:" style="text-decoration:none"  class="text-white">syedsara52141@gmail.com</a> </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  
  <!-- Copyright Footer -->
  <footer class="bg-secondary  text-center text-white">
  
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa-brands fa-facebook"></i
      ></a>
  
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa-brands fa-instagram"></i
      ></a>
  
      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa-brands fa-twitter"></i
      ></a>
  
      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa-brands fa-youtube"></i
      ></a>
  
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
  
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  code with syedsara© 2024 All Rights Reserved.
  </div>
  <!-- Copyright -->
  </footer>
  
  