<app-header></app-header>
<h1>Welcome to Faq</h1>
<div class="m-5">
    <div class="accordion" id="myAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne"> What is HTML?</button>									
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                <div class="card-body">
                    <p>HTML stands for HyperText Markup Language. HTML is the standard markup language for describing the structure of web pages</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"> What is JQuery?</button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse " data-bs-parent="#myAccordion">
                <div class="card-body">
                    <p>jQuery is a lightweight, "write less, do more", JavaScript library.
                        The purpose of jQuery is to make it much easier to use JavaScript on your website.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"> What is CSS?</button>                     
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                <div class="card-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingfour">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapsefour"> What is JS?</button>                     
            </h2>
            <div id="collapsefour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                <div class="card-body">
                    <p>JavaScript (js) is a light-weight object-oriented programming language which is used by several websites for scripting the webpages. </p>
                </div>
            </div>
        </div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingfive">
        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapsefive"> What is Angular</button>                     
    </h2>
    <div id="collapsefive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
        <div class="card-body">
            <p>Angular (formerly called Angular JS) is a typescript-based web application framework that supports full-stack development for building all types of web applications.</p>
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingsix">
        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapsesix"> What is Bootstrap?</button>
    </h2>
    <div id="collapsesix" class="accordion-collapse collapse " data-bs-parent="#myAccordion">
        <div class="card-body">
            <p>Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
