  <app-header></app-header>
  <div class="container-fluid"> 
    <div class="row">
        <div class="col-md-5 col-sm-12 col-12">
            <div>
                <h4>ILANDER TCS</h4>
                <h2>About Us</h2>
                <p>iLander training and consultancy services is trusted and a Leading Training and consultancy Company in Andhra Pradesh, India. Specializing in empowering individuals and organizations to reach their maximum potential. With a team of high skilled professionals, we offer comprehensive training programs and expert consultancy services to help our clients thrive in today’s dynamic and competitive business and technological landscape.<br><br>
                For the skilled manpower in high-end technology courses like UI Design and Development, PHP, Angular, React JS, JAVA, SQL, Photoshop, web designing and digital marketing courses that are ideal for both learners and professionals in the workforce. iLander mainly focuses on imparting quality training in marketing. Our goal is to provide high-quality, practical oriented education with on-the-job training. With our industry focused training programs , we empower individual and organizations to develop their technical skills in the rapidly evolving world of software engineering
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-8 col-12">
            <div>
                <img src="assets/images/courses/2.png" alt="">
            </div>  
        </div>
    </div>
</div>
<h4>ILANDER TCS</h4>
<h2>Why Choose Us</h2>
<div class="row">
    <div class="col-md-6 col-sm-12 col-12">
        <p><i class="fa-solid fa-check"></i> Corporate Training</p>
        <p><i class="fa-solid fa-check"></i> Internship Certificate</p>
        <p><i class="fa-solid fa-check"></i> Online and Offiline training</p>
        <p><i class="fa-solid fa-check"></i> 100% Job Assistance</p>
    </div>
     <p class="text-justify"><b> Experienced Training:</b>Our trainers are industry professionals with extensive knowledge and practical<br> experience in their respective domains. They bring real-world insights into the training sessions,<br> ensuring that participants gain practical skills that can be applied in their professional careers.</p>
     <p><b>Hands on Approach:</b> We emphasize a hands-on learning ,approach, providing participants with sample <br>opportunities to practice and implement what they learn during the training. Thisapproach reinforces <br>knowledge retention and enables participants to develop their problem-solving abilities.</p>
     <p><b>practical projects and Case Studies:</b>We believe in learning by doing. Our training programs incorporate<br> practical projects and case studies that simulate real-world scenarios. This allows participants to apply their<br> skills to practical challenges and prepares them for the demands of the industry.</p>
     <p><b>Career Support:</b>Upon completion of our training programs, we provide career support services such<br> as resume building, interview preparation, and job placement assistance to help you <br>kickstart or advance your career in the digital industry.</p>
     <p><b>Flexible Learning Options:</b>We understand that everyone has different schedules<br> and preferences.That’s why we offer both in-person and online training options,<br> allowing you to choose the mode of learning that suits you best.</p>
     <p><b>Customized Training Solutions:</b>We understand that different individuals and organizations have<br> unique requirements.Therefore, we offer customized training solutions tailored to specific needs. <br>Whether it's a comprehensive training program or targeted workshops, we can design a solution<br> that aligns with your goals.</p>
</div>
<h6>WAY FOUNDED</h6>
<h2>Mission and Vision</h2>
<p>Our mission is to empower and inspire students, professionals, and organizations to reach their full potential through comprehensive training and consultancy services. We are committed to equipping individuals and entities with the necessary skills, knowledge, and resources to excel in their respective fields. By fostering a culture of continuous learning and innovation, we aim to create a positive impact on the academic and professional development of our clients.<br>

Our vision is to be the leading training and consultancy company nationally and globally, renowned for our transformative impact on individuals and organizations. We envision a future where our expertise and insights empower professionals to surpass their limitations, enhance their capabilities, and become industry leaders. we aim to shape the future of training and consultancy, making a lasting and positive contribution to the success and growth of our clients worldwide.</p>

<h1 class="id">what are you waiting for ?
    <h5>ilander training and consultancy services</h5>
  
</h1>
<h5>ILANDER TCS</h5>


 <!-- card  -->
 <div class="container">
    <!-- card 1 -->
    <div class="card">
     <img src="assets/images/courses/img3.jpg">
     <h2>N.Siva Sankar</h2>
     <h6>Ui/Designer</h6>
     
    </div>
<!-- card 2 -->
    <div class="card">
     <img src="assets/images/courses/img4.jpg">
     <h2>N.Siva Sankar</h2>
     <h6>Ui/Designer</h6>
    
    </div>
<!-- card 3 -->
    <div class="card">
     <img src="assets/images/courses/img3.jpg">
     <h2>N.Siva Sankar</h2>
     <h6>Ui/Designer</h6>
    
    </div>
 
 <!--card 4-->
    <div class="card">
    <img src="assets/images/courses/img4.jpg">
    <h2>N.Siva Sankar</h2>
    <h6>Ui/Designer</h6>
   
   </div>
 </div>
 <app-footer></app-footer>





 